@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Zen+Kaku+Gothic+New&display=swap");

:root {
    ---bg-blue: #2088d7;
    --bg-dark-blue: #384042;
    --bg-dark-blue2: #5d696c;
    --bg-dark-blue-hover: #202526;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
    color: #212529;
}
p, ul {
    margin: 0 !important;
}
/* utility classes */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.ptb-20 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.prl-10 {
    padding-right: 10px;
    padding-left: 10px;
}
.prl-15 {
    padding-right: 15px;
    padding-left: 15px;
}
.prl-20 {
    padding-right: 20px;
    padding-left: 20px;
}

/* Margin utility classes */
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}

/* Other utility classes */
.txt-white {
    color: white;
}
.txt-gray {
    color: rgba(255, 255, 255, 0.748);
}
.bg-blue {
    background-color: var(---bg-blue);
}
.bg-white{
    background-color: #fff;
}
.bg-lightgray{
    background-color: #f1f4f8;
}
.font-25 {
    font-size: 25px;
}
.txt-center {
    text-align: center;
}
.shadow-bottom {
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009a;
    z-index: 998;
}
.hidden{
    display: none !important;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}
/* アラート */
.alert_danger{
    font-size: 14px !important;
}
.success_alert {
    position: fixed;
    width: 42%;
    top: 10%;
    left: 58%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    z-index: 999;
}

/* nav セクション */
.nav__area {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: var(--bg-dark-blue);
    z-index: 995;
}
.nav__item-option {
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;

}
.nav__item-option__txt{
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-align: left;

}
.nav__item-option-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item-option__message-icon{
    width: 25px;
}
.nav__item-option:hover {
    background-color: var(--bg-dark-blue-hover);
}


/* navセクション second */
.nav__area-second{
    position: absolute;
    top: 8.25%;
    height: 100vh;
    width: 300px;
    background-color: var(--bg-dark-blue2);
    transform: translateX(-100%);
    transition: .5s ease-in-out;
}
/* dashboard セクション */
.dashboard {
    display: flex;
}
.dashboard__wrapper-main{
    min-height: 100vh;
}
.dashboard__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.dashboard__wrapper-top {
    display: flex;
    align-items: end;
    justify-content: end;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 994;
}
.dashboard__wrapper-top_show {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-left: 100px;
    width: 100%;
    background-color: #fff;
    z-index: 994;
}
.dashboard__wrapper-top--box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard__wrapper-top--box-img {
    width: 35px;
    height: 35px;
}
.dashboard__wrapper-top--menu-icon{
    width: 30px;
}
.dashboard__wrapper-table-area{
    padding: 40px 100px 20px 100px;
    
}
.dashboard__wrapper-table-area:nth-child(5){
    padding-bottom: 40px;
}
.dashboard__wrapper-table-ttl{
    display: flex;
    justify-content: space-between;
}
.dashboard__wrapper-table-icon{
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.dashboard__wrapper-table-box{
    background-color: #f9f9fa; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1px;
}
.dashboard__wrapper-table{
    padding: 18px 30px 50px 30px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: auto;
    max-height: 73vh;
}
.operation_icon{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.operation_icon img{
    width: 20px;
}
.operation_icon:nth-child(1){
    background-color: #2088d7;
}


.operation_icon:nth-child(2):hover::after{
    position: absolute;
    content: "編集";
    top: -40px;
    width: max-content;
    z-index: 989;
    font-size: 13px;
    color: #000;
    font-weight: 500;
    background: #fff;
    padding: 10px;

}

.js_redirect_btn{
    background-color: #2088d7;
}
.operation_icon:nth-child(2){
    background-color: #e5a72b;
    position: relative;
}
.operation_icon:nth-child(3), .js_delete_account_btn{
    background-color: #d74141;
}
.js_send_message_btn{
    background-color: #26a35c !important;
}
.operation{
    display: flex;
    padding-right: 23px !important;
}

/* ログアウト */
.logout_btn{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
}


/* modal セクション */
.modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    min-width: 440px;
    z-index: 999;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modal__container_no_bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-width: 440px;
    z-index: 999;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}
.modal__container-ttl {
    font-size: 18px;
    padding-bottom: 10px;
}

.modal__container-btn {
    border: none;
    background-color: #2088d7;
    color: #fff;
    border-radius: 5px;
    padding: 7px 25px;
    margin-top: 16px;
    font-size: 14px;
}



/*  */
.delete_account-btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    gap: 10px;
}
.delete_account-btn{
    width: 100%;
}
.btn-box{
    width: 50%;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 120px;
}
.btn-box button{
    border: none;
    background-color: inherit;
    border-radius: 120px;
}
.delete-btn{
    background-color: red;
    color: #fff;
    border: none;
}

.message_count {
    font-size: 12px;
    color: #fff;
    background-color: red;
    padding: 5px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.dropdown_style{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: blue;
}
.dropdown_style:hover{
    background-color: none !important;
    border: none !important;
}
.dropdown_style:active{
    background-color: none;
    border: none;
}
.chat_user_name, .account_name{
    overflow: auto;
    max-width: 200px;
    white-space: nowrap;
    padding-left: 21px !important;
}


/* loader */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 998;
}
.loader2 {
    width: 40px;
    height: 40px;
    border: 5px solid gray;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.crop_loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 42%;
    left: 47%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 999;
}
.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


/* 一斉送信モーダル */
/* .broadcast_message_area{
    display: flex;
} */
.broadcasting_message_modal{
    max-height: 600px;
    overflow: auto;
}
.drag-handle {
    cursor: move; /* フォールバック */
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.drag-handle:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.displayImg{
    width: 100%;
}
.broadcast_message_submit_btn-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-header-left{
    display: flex;
    align-items: center;
}
.card-header p{
    cursor: pointer;
}

.disabled_btn{
    opacity: 50% !important;
    pointer-events: none !important;
}



.simplebar-track.simplebar-vertical {
    right: 0 !important;
}

/* スクロールバーのスタイル */
.simplebar-scrollbar::before {
    background-color: rgba(0, 0, 0, 0.111);
    width: 100%;
    height: 3px;
    right: 0;
    bottom: 5px;
    left: 20px;  /* leftの値をリセット */
    border-radius: 8px;
}

/* スクロール可能なコンテンツエリアの調整 */
.simplebar-content-wrapper {
    padding-right: 0 !important;  /* 右側のパディングを削除 */
}
/* .simplebar-track.simplebar-horizontal .simplebar-scrollbar {

    top: 7px !important;
} */

/* スクロールバーを確実に右端に */
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
    right: 0;
}
/* .simplebar-scrollbar{
    width: auto !important;
} */

/* ホバー時のスクロールバーの表示 */
.simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.5;
}

.simplebar-scrollbar{
    margin-left: 11px;
}

/* 画像URL編集モーダル */

.image_edit_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    width: 1000px;
    z-index: 999;
    max-height: 600px;
    overflow-y: auto;
    padding: 60px 50px;
    display: flex;
    gap: 50px;
}
.preview_box{
    max-width: 530px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    width: 100%;
}
.preview_box-top{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.274);
    padding: 7px 0;
}
.preview_box-top p:nth-child(1){
    font-weight: bold;
}
.preview_box-img{
    text-align: center;
    padding: 30px 0;
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 378px;
}
.prview_box-area{
    position: relative;
}
.fixed_bg{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#image{
    height: 100%;
}
.preview_box-desc{
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
    justify-content: space-between;
}
.preview_box-desc div:nth-child(1){
    border-right: 1px solid rgba(128, 128, 128, 0.322);
}
.preview_box-desc div{
    text-align: center;
    width: 50%;
    padding: 6px 0;
}
.preview_box-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preview_box-img-btn {
    background-color: #fff;
    border: 1px solid #0083ff;
    color: #0083ff;
    font-size: 17px;
    padding: 12px 40px;
    margin: 12px 0;
    border-radius: 4px;
}
.radio_btn{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.url_setting_txt{
    font-weight: bold;
}
.url_setting_area{
    width: 53%;
}

.url_input{
    border: 1px solid rgba(128, 128, 128, 0.387);
    outline: none;
    padding: 7px 5px;
    width: -webkit-fill-available;
    border-radius: 3px;
    margin-top: 11px;
}
.btn_area{
    display: flex;
    margin-top: 26px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 10px;
}
.btn_area button{
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
}
.btn_area button:nth-child(1){
    background-color: #0075ff;
    color: #fff;
    border: none;
    outline: none;
    padding: 0px 0px;
}
.btn_area button:nth-child(2){
    border: 1px solid #0075ff;
    background-color: #fff;
    color:#0075ff ;
}
.change_img{
    padding: 10px 0;
    width: 100%;
}
.preview_submit_btn{
    width: 100%;
    padding: 10px 0;
    background-color: #0075ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.image-container {
    position: relative; /* 子要素を相対的に配置 */
    margin: 0;
    padding: 0;
    border: 0;
}

.image-container img {
    display: block; /* 親要素のサイズに合わせる */
}

.overlay {
    position: absolute;
}

.radio_button-style{
    cursor: pointer;
}